---
title: Feline babies paint chat gallery
type: index
---
%h1
  お絵かきチャットログ一覧

%p
  = link_to "Feline babiesお絵かきチャット", "http://pchat.lab.omhouse.mydns.jp/"
  のログ保管庫です。
  %br
  レイヤー別にも鑑賞できます。
%ul
  - sitemap.resources.select {|item| item.data['type'] == 'logviewer'}.sort{|a, b| b.locals[:datestr] <=> a.locals[:datestr]}.reverse.each do |item|
    - loggedTimeObj = Time.strptime(item.locals[:datestr], "%Y_%m_%d_%H_%M_%S")
    %li
      = link_to File.join(item.url, "index.html") do
        = loggedTimeObj.strftime("%Y年%m月%d日のログ（%H時%M分記録）")
